@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        margin: 0;
        @apply bg-gradient-to-r from-primaryEarthtone2 to-primaryP2
    }
}

@font-face {
    font-family: "Anakotmai";
    src: url("../fonts/anakotmai-medium.woff2") format("woff2"),
      url("../fonts/anakotmai-medium.woff") format("woff"),
      url("../fonts/anakotmai-medium.eot") format("eot");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anakotmai";
    src: url("../fonts/anakotmai-bold.woff2") format("woff2"),
      url("../fonts/anakotmai-bold.woff") format("woff"),
      url("../fonts/anakotmai-bold.eot") format("eot");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Anakotmai";
    src: url("../fonts/anakotmai-light.woff2") format("woff2"),
      url("../fonts/anakotmai-light.woff") format("woff"),
      url("../fonts/anakotmai-light.eot") format("eot");
    font-weight: 400;
    font-style: normal;
  }

  body {
    font-family: "Anakotmai", system-ui, sans-serif
 }

 @keyframes append-animate {
  from {
    transform: translatex(-100%);
    opacity: 0;
  }

  to {
    transform: translatex(0%);
    opacity: 1;
  }
}

.new-arrow {
  animation: append-animate 0.5s ease-out forward;
}

@keyframes rgbOutline {
  0% {
      outline-color: red;
  }
  33% {
      outline-color: green;
  }
  66% {
      outline-color: blue;
  }
  100% {
      outline-color: red;
  }
}

.animated-outline {
  border: 2px solid transparent;
  animation: rgbOutline 3s infinite;
}


